
@lcx-start-well-head-height: 60px;
@lcx-start-well-close-size: 30px;

#lcx-start-entry {
    
    position: relative;
    width: 50px; height: 50px;
    background-color: #4385f6;
    cursor: pointer;

    img.lse-logo {
        width: 48px; height: 48px;
        position: absolute;
        top: 50%; left: 50%;
        margin: -27px 0 0 -24px;
    }
    img.lse-logo-ar {
        width: 12px; height: 12px;
        background: lighten(#4385f6, 10%);
        position: absolute;
        bottom: 2px; right: 2px;
    }
}


.lcx-start-well {

    background-color: fade(#1a1a1a, 90%);
    z-index: 10;
    position: absolute; left: 10px; top: 10px;
    text-align: left;
    color: #fff;
    padding: 10px;

    .lc-head {

        position: relative; top: 0; left: 0;
        margin: 0; padding: 0;
        height: @lcx-start-well-head-height; width: 100%;

        .lc-logo {
            position: relative;
            width: @lcx-start-well-head-height;
            height: @lcx-start-well-head-height;
        }

        .lc-logo img {
            width: 60px; height: 60px;
            position: absolute;
            top: 50%; left: 50%;
            margin: -35px 0 0 -30px;
        }

        .lc-title {
            position: absolute;
            left: @lcx-start-well-head-height + 10px; top: 50%;
            margin-top: -11px;
            font: bold 22px/22px arial,sans-serif;
        }

        .lc-title em {
            font-size: 10px;
            color: #ccc;
        }

        .lc-close {
            width: @lcx-start-well-close-size;
            height: @lcx-start-well-close-size;
            border-radius: @lcx-start-well-close-size;
            display: block;
            position: absolute;
            right: @lcx-start-well-head-height / 2 - 10; top: 50%;
            margin-top: -@lcx-start-well-close-size / 2;
            font-size: @lcx-start-well-close-size;
            line-height: 1em;
            text-align: center;
            vertical-align: middle;
        }

        .lc-close:hover {
            cursor: pointer;
            background: #fff;
            color: #000;
        }
    }

    .lc-line {
        border-bottom: 1px solid #ccc;
        margin: 10px 0 10px 0;
    }
}
