
.lceditor-tools {

    padding: 2px 0 0 5px;
    background-color: #f6f7f8; height: 24px;
    border-bottom: 1px solid #cfd4d7; 

    * {
        margin: 0; padding: 0; 
    }

    .let-menu-item {

        display: inline-block;
        height: 23px;
        color: #000; padding-right: 4px;
    
        .ico {
            display: inline-block; margin-left: 4px; width: 13px;
        }
        .ico img {
            width: 12px; height: 12px;
        }

        .ctn {
            display: inline-block;
            font-size: 13px;
        }
        .ctn:hover {
            color: #db4a37; cursor: pointer;
        }

        input {
            vertical-align: middle;
        }

        .clo {
            display: inline-block; margin-left: 4px;
            font-size: 10px; line-height: 10px; font-weight: bold;
        }
        .clo:hover {
            color: #db4a37; cursor: pointer;
        }
    }

    .let-menu-item.florig {
        float: right;
    }
    
    .navline {
        display: inline-block; width: 1px; height: 12px; border-left: 1px solid #ccc;
        vertical-align: middle;
    }

    .let-menu-item.cur {
        background-color: #f6f7f8; 
        height: 24px; border-right: 1px solid #c6c7c9;
        -moz-border-top-right-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
    }
}

.lctab-box .CodeMirror {
    font-size: 13px;
    line-height: 1.3em;
    height: 100%;
}
.lctab-box .CodeMirror-scroll {
  overflow-x: hidden;
  height: hidden;
}
.CodeMirror {
    font-size: 13px;
    line-height: 1.3em;
}
.CodeMirror-scroll {
  overflow-x: hidden;
  height: hidden;
}
.CodeMirror-foldmarker {
    color: blue;
    text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}
.CodeMirror-foldgutter {
    width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    color: #555;
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}
.CodeMirror-lines {
    line-height: 1.2em;
}
.CodeMirror *::-webkit-scrollbar {
    width: 10px; height: 10px; background-color: transparent;
    background-color: #ccc;
}
.CodeMirror *::-webkit-scrollbar-corner {
    background-color: transparent;
}
.CodeMirror *::-webkit-scrollbar-button:start:decrement,
.CodeMirror *::-webkit-scrollbar-button:end:increment {
    display: none;
}
.CodeMirror *::-webkit-scrollbar-thumb:vertical,
.CodeMirror *::-webkit-scrollbar-thumb:horizontal {
    background-color: #999;
}
.CodeMirror *::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
.CodeMirror *::-webkit-scrollbar-thumb:active {
    background-color: #444;
}
